__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

venv/

src/nlp/models/

log/

download/

.env

infra/.terraform
infra/*.tfstate
infra/*.tfstate.backup
infra/.env
infra/*.pem
infra/meera
infra/meera.pub