__pycache__/
*.py[cod]
*$py.class

venv/

nlp/models/

preprocessing/component.ini
plugins/newsAPI/plugin.ini
plugins/googleSelfLocation/plugin.ini
plugins/openWeatherAPI/plugin.ini
interface/telegram_bot/telegram.ini

log/