# event driven library
circuits==3.2

# npl library
spacy==2.0.17

# configuration parser
configparser==3.5.0

# to make rest calls
requests==2.20.0

# temporary fix for issue https://github.com/explosion/spaCy/issues/2810
# remove this after upgrading to spacy 2.1.x
msgpack-numpy==0.4.3.2