# event driven library
circuits==3.2

# nlp library
spacy==2.0.18

# configuration parser
configparser==3.7.3

# to make rest calls
requests==2.21.0

# temporary fix for issue https://github.com/explosion/spaCy/issues/2810
# remove this after upgrading to spacy 2.1.x
msgpack-numpy==0.4.3.2
msgpack==0.5.6

# for telegram bot instantiation
websockets==7.0

# for communication with telegram
python-telegram-bot==11.1.0

# parsing verbose date and time
parsedatetime==2.4

# linting python code
pylint==2.3.1

# testing
pytest==4.3.0

# system health
psutil==5.6.6

urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability